<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.persistent.register.common.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Api test cases">
        <classes>
            <class name="com.persistent.register.api.tests.DeleteEmployee">
                <methods>
                    <include name="deleteEmployeeById"/>
                </methods>
            </class>
            <class name="com.persistent.register.api.tests.GetAllEmployees">
                <methods>
                    <include name="getEmployees"/>
                </methods>
            </class>
            <class name="com.persistent.register.api.tests.GetParticularEmployee">
                <methods>
                    <include name="getEmployeeById"/>
                </methods>
            </class>
            <class name="com.persistent.register.api.tests.PostEmployee">
                <methods>
                    <include name="postEmployee"/>
                </methods>
            </class>
            <class name="com.persistent.register.api.tests.UpdateEmployee">
                <methods>
                    <include name="updateEmployee"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Ui test cases with Listeners">
        <classes>
            <class name="com.persistent.register.ui.tests.RegistrationTests">
            </class>
        </classes>
    </test>
</suite>